* {
    box-sizing: border-box;
   }
// ================== HEADER ========================
.header{
  margin: 0 10px;
}
.header .redirect a{
    color: #000;
}
// ===================== HOME =========================
.home img{
  width: 100%;
}
.home .box-img{
  display: block;
  height: 250px;
}
.home .card-title{
  text-decoration: none;
  color: #000;
  font-weight: 450;
  display: block;
  height: 65px;
}
.home .card-text{
  color: 	#6495ED;
  font-weight: 400;
  display: block;
  height: 50px;
  
}
//==============  FOOTER =========================
.footer{
  margin-top: 30px;
  background-color: #6c757d;
}

.footer li a, .footer .footer-copyright a{
  text-decoration: none;
  color: #000;
}
.footer li a:hover, .footer .footer-copyright a:hover{
  font-weight: 500;
}
// =============r REGISTER ======================
.register .heading{
  color:#6c757d;
}

  .details-content img {
    width: 250px;
    float: left;
    margin-right: 30px; }
  
  .details-content h1 {
    font-size: 2rem;
    margin-bottom: 30px; }
  
  .details-content h5 {
    font-size: 1rem; }
  
  .details-content .form-comment {
    width: 60%;
    float: left;
    margin-top: 20px; }
  
  .details-content .form-comment span {
    background-color: #696767cc;
    float: left;
    height: 30px;
    padding: 5px;
    font-size: 0.9rem;
    color: #ffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  
  .details-content input {
    float: left;
    width: 70%;
    height: 30px;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid #cccc;
    border-top: 1px solid #cccc; }
  
  .details-content button {
    border: none;
    float: left;
    width: 30px;
    height: 30px;
    background-color: #696767cc;
    outline: 0; }
  
  .details-content .submit-cmt {
    color: #ffff; }
  .error{
     color: red;
  }
  .button-user-none{
    display: none;
  }
  /// ẩn và hiện
  .none{
    display: none;
  }
  .inline{
    display: inline;
  }



