<div class="footer">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Mọt Sách</h5>
            <p>Rview sách một cách chân thật</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Liên hệ</h5>

            <ul class="list-unstyled">
            <li>
                <a href="#!">Tác giả</a>
            </li>
            <li>
                <a href="#!">Quảng cáo</a>
            </li>
            <li>
                <a href="#!">Tác giả & blog quảng cáo</a>
            </li>
            <li>
                <a href="#!">API</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Công Ty</h5>

            <ul class="list-unstyled">
            <li>
                <a href="#!">Chúng Tôi</a>
            </li>
            <li>
                <a href="#!">Nghề Nhiệp</a>
            </li>
            <li>
                <a href="#!">Tuỳ Chọn Quảng Cáo</a>
            </li>
            <li>
                <a href="#!">Trợ giúp</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Mọt Sách:
        <a href="/"> motsach.com</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>