* {
  box-sizing: border-box; }

.details-content img {
  width: 250px;
  float: left;
  margin-right: 30px; }

.details-content h1 {
  font-size: 2rem;
  margin-bottom: 30px; }

.details-content h5 {
  font-size: 1rem; }

.details-content .form-comment {
  width: 60%;
  float: left;
  margin-top: 20px; }

.details-content .form-comment span {
  background-color: rgba(9, 172, 107, 0.76);
  float: left;
  height: 30px;
  padding: 5px;
  font-size: 0.9rem;
  color: #ffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.details-content input {
  float: left;
  width: 70%;
  height: 30px;
  border: 0;
  outline: 0;
  border-radius: 0;
  border-bottom: 1px solid #cccc;
  border-top: 1px solid #cccc; }

.details-content button {
  border: none;
  float: left;
  width: 30px;
  height: 30px;
  background-color: #01ffaa;
  outline: 0; }

.details-content .submit-cmt {
  color: #ffff; }
.error{
   color: red;
}
