<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Mọt <span style="color: rgb(140, 137, 137);">Sách</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/me/details">Sách của tôi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thể Loại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Nghệ Thuật</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tiểu Sử</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Việc Kinh Doanh</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Truyện Tranh</a>
                    </div>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> --}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input name="searchBook" class="form-control mr-sm-2" type="search" placeholder="Nhập tên sách" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm Kiếm</button>
            </form>
            <ul class="nav justify-content-end ">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Đăng kí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Đăng Nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/details/create">Thêm sách</a>
                </li>
            </ul>
    </nav>

</div>